/MeshDataTransfer/link.bat
/MeshDataTransfer/__pychache__/
*.pyc
/release/
/PES_Face_Hair_Modifier/
/speedsculpt_2_80_v_0_1_17/
MeshDataTransferbk/link.bat
/MeshDataTransferbk/
/TopoSnap/
/TopoSnap/
/TopoSnap
/MeshDataTransfer/__pycache__
/MeshDataTransfer/__pycache__
/MeshDataTransfer/__pycache__
